# Each line is a file pattern followed by one or more owners.

# This is the global codeowners. Unless a later match takes precedence, these owners will be the default owners for everything in the repo. They will be requested for review when someone opens a pull request.
* @tvoul @MariaFranz